

<!-- NAVIGATION -->
<div class="topnav w3-bar" id="myTopnav">
 <a href="#"  class="active brand-logo" ><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
 <span class="topnav-right">
   <a href='/skate_spots/new' class="nav-item">Add spot</a>
   <a href='/users/password' class="nav-item">Change Password</a>
   <a href="/logout" class="nav-item">Log Out</a>
 </span> 
  <a href="javascript:void(0);" class="icon" style="padding: 6px, 16px; " onclick="myFunction()">
    <i class="fa fa-bars" style="padding: 6px, 16px; "></i>
  </a>
</div>
<div class="background-image-4">

<!-- TITLE -->
<div class="w3-container w3-center">
    <h1 class="w3-jumbo"><%=@user.username%>'s Spots</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%"><br>
</div>
<div style='min-height: 65vh'>


<!-- SKATE SPOT CARD -->
<div class="w3-row-padding">
    <%@user.skate_spots.each do |spot| %>
        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4">
                <div class="w3-container">
                    <h3><a href="/skate_spots/<%=spot.id%>"><%= spot.name%></a></h3>
                    <p><%= spot.location%><br>
                        <%= spot.heat_index%><br>
                        <%= spot.skill_level%><br>
                        <%= spot.description%>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>

  <div class="alt-footer" >
  <p class="">Made 💯 by <a href="https://harstondev.web.app/">Uriah Harston</a></p>
</div>
</div>