<!-- NAVIGATION -->
<div class="w3-bar  w3-black">
    <a href="/skate_spots" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-left"><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
    <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>
    <a href='/skate_spots/new' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Add spot</a>
    <a href='/users/<%=current_user.id%>' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Profile</a>
</div>

<!-- EDIT FORM -->
<div class="w3-card-4 w3-light-grey w3-center" style="max-width: 500px; margin:auto; margin-top: 35px; background: white; padding: 10px;">
    <div class="w3-container w3-center">
        <h3>Update This Skate Spot</h3>
         <h4><%= "Fill out all fields" if @skate_spot && @skate_spot.errors.any? %></h4>
        <form method="post" action="/skate_spots/<%=@skate_spot.id%>">
            <input type="hidden" id="hidden" name="_method" value="PATCH"/>
            <label class="w3-left" for="name">Name:</label>
            <input type="text" class="w3-input w3-border" id="name" name="name" value="<%=@skate_spot.name%> "/><br>
            <label class="w3-left" for="location">Address:</label>
            <input type="text" class="w3-input w3-border" id="location" name="location" value="<%=@skate_spot.location%> "/><br>
            <label class="w3-left" for="heat_index">Security Level:</label>
            <select id="heat_index" class="w3-input w3-border" name="heat_index">
                <option value="Chill">Chill</option>
                <option value="Moderate">Moderate</option>
                <option value="Hot">Hot</option>
                <option value="Red Hot">Red Hot</option>
            </select><br>
            <label class="w3-left" for="skill_level">Skill Level:</label>
            <select id="skill_level" class="w3-input w3-border" name="skill_level">
                <option value="Beginner">Beginnner</option>
                <option value="Amateur">Amateur</option>
                <option value="Professional">Professional</option>
                <option value="Any Skill Level">Any Skill Level</option>
            </select><br>
            <label class="w3-left" for="description">Why is this spot cool?:</label>
            <input type="text" class="w3-input w3-border" id="description" name="description" value="<%=@skate_spot.description%> "/><br>
            <input type="submit" value="Update"/>
        </form>
    </div>
</div>