<div class="w3-bar  w3-black">


  <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>

</div>

<div class="w3-container w3-center">
  <h1>Skate Spots</h1>
</div>

<a href='/skate_spots/new'>Add spot</a>

<br><br><hr>
<%@skate_spots.each do |spot| %>
    <br>
    <a href='/skate_spots/<%=spot.id%>' class="skate_spot_title"><h3><%= spot.name%></a>
    <span> - <a href="/users/<%=spot.user.id%>"><%=spot.user.username%></a> </span></h3>
    <p>
    <%= spot.location%><br>
    <%= spot.heat_index%><br>
    <%= spot.skill_level%><br>
    <%= spot.description%></p>

    <hr>
<% end %>
<br>

<a href="/logout">Log Out</a>