<div class="w3-bar w3-black w3-right">

    <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-left"><img src="images/Primo-logo-white-simple.png" alt="LOGO" width="77" height="25" id="img-logo"></a>
    <a href="/logout" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Log Out</a>
    <a href='/skate_spots/new' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Add spot</a>
    <a href='/users/<%=current_user.id%>' class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">Profile</a>


</div>

<div class="w3-container w3-center">
<h1 class="w3-jumbo">Skate Spots</h1>
<hr class="w3-border-grey" style="margin:auto;width:40%"><br>
</div>

 <div class="w3-row-padding">
<%@skate_spots.each do |spot| %>
    
   
    
     <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <div class="w3-container">
    <a href='/skate_spots/<%=spot.id%>' class="skate_spot_title"><h3><%= spot.name%></a>
    <span> - <a href="/users/<%=spot.user.id%>"><%=spot.user.username%></a> </span></h3>
    <p>
    <%= spot.location%><br>
    <%= spot.heat_index%><br>
    <%= spot.skill_level%><br>
    <%= spot.description%></p>
  </div>
   </div>
    </div>

   
<% end %>
</div>

   
  

   

