<h1>Skate Spots Index</h1>

<a href='/skate_spots/new'>Add spot</a>

<br><br><hr>
<%@skate_spots.each do |spot| %>
    <br>
    <a href='/skate_spots/<%=spot.id%>' class="skate_spot_title"><h3><%= spot.name%></a>
    <span> - <a href="/users/<%=spot.user.id%>"><%=spot.user.username%></a> </span></h3>
    <p>
    <%= spot.location%><br>
    <%= spot.heat_index%><br>
    <%= spot.skill_level%><br>
    <%= spot.description%></p>

    <hr>
<% end %>
<br>

<a href="/logout">Log Out</a>