<!-- NAVIGATION -->
<div class="topnav" id="myTopnav">
  <!-- <%# <a href="#home" class="active">Home</a> %> -->
 <a href="#"  class="active brand-logo" ><img src="/images/Primo-logo-white-simple.png" alt="LOGO" id="nav-logo"></a>
 <span class="topnav-right">
   <a href='/skate_spots/new' class="nav-item">Add spot</a>
   <a href='/users/<%=current_user.id%>' class="nav-item">Profile</a>
   <a href="/logout" class="nav-item">Log Out</a>
 </span> 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<!-- HEADING -->
<div class="w3-container w3-center">
    <h1 class="w3-xxxlarge"><%=@skate_spot.name%></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
</div>

<!-- SKATE SPOT CARD -->
<div class="w3-card-4 w3-light-grey w3-center w3-hover-shadow" style="max-width: 500px; margin:auto; margin-top: 30px; background: white; padding: 20px;">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=<%=@skate_spot.location%>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="w3-left w3-medium"><strong>Location: </strong><%= @skate_spot.location%></div><br>
        <div class="w3-left w3-medium"><strong>Security Level: </strong><%= @skate_spot.heat_index%></div><br>
        <div class="w3-left w3-medium"><strong>Skill Level: </strong><%= @skate_spot.skill_level%></div><br>
        <div class="w3-left w3-medium"><strong>Description: </strong><%= @skate_spot.description%></div><br>
        <%if @skate_spot.user == current_user %><br>
            <button class="w3-right"> <a  href="/skate_spots/<%=@skate_spot.id%>/delete">Delete</a></button>
            <button class="w3-left"> <a  href="/skate_spots/<%=@skate_spot.id%>/edit">Update</a></button><br>
        <%end%>
    </div>
</div>

<div class="w3-display-bottommiddle">
  <p >Made 💯<a href="https://harstondev.web.app/"> by Uriah Harston</a></p>
</div>

 






