<h1>Show Page</h1>

    <hr><br>
    <strong><%= @skate_spot.name%></strong>
    <br>
    <%= @skate_spot.location%><br>
    <%= @skate_spot.heat_index%><br>
    <%= @skate_spot.skill_level%><br>
    <%= @skate_spot.description%></p>

    <hr>
